<div>
    <app-tabs [labels]="['Pickups', 'Deliveries']">
        <app-tab-item>
            <app-order-filter></app-order-filter>
            <app-order-list></app-order-list>
        </app-tab-item>
        

        <app-tab-item>
            <app-order-filter></app-order-filter>
            <app-order-list></app-order-list>
        </app-tab-item>
    </app-tabs>
</div>
