<form class="my-4" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="control">
        <input 
            class="input" 
            type="text" 
            placeholder="Enter driver's name..."
            formControlName="driverName">
    </div>

    <div class="buttons my-2">
        <button type="submit" class="button is-outlined">
            <i class="fa-solid fa-magnifying-glass"></i>&nbsp;
            Search
        </button>

        <button type="button" class="button is-outlined" (click)="onResetForm()">
            <i class="fa-solid fa-arrow-rotate-left"></i>&nbsp;
            Reset
        </button>
    </div>
</form>
