<div class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Total Miles</p>
            <p class="title">1000</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Empty Miles</p>
            <p class="title">200</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Pickups</p>
            <p class="title">20</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Income</p>
            <p class="title">3000 CAD</p>
        </div>
    </div>
</div>