<div class="panel my-2">
    <div class="panel-heading" (click)="toggleAccordion()">
        {{ heading }}
    </div>

    <div class="panel-block" [ngClass]="{'open': isOpen, 'closed': !isOpen}">
        Accordion Content
    </div>
</div>
