.panel {
    border: 0;
    box-shadow: none;
}

.panel-heading {
    background: linear-gradient(to right bottom,#ffe08a, white);
    border-radius: 0;
}

.panel-heading:hover {
    cursor: pointer;
}

.open {
    display: block;
}

.closed {
    display: none;
}