<div class="container is-fullhd">
    <div class="columns">
        <div class="column">
            <app-header></app-header>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="columns">
        <div class="column">
            <app-summary></app-summary>
        </div>
    </div>
</div>

<div class="container">
    <div class="columns">
        <div class="column">
            <app-driver-wrapper></app-driver-wrapper>
        </div>

        <div class="column">
            <app-order-wrapper></app-order-wrapper>
        </div>
    </div>
</div>
