<div class="card my-2">
    <div class="card-content">
        <div class="content">
            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at
            eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
            mattis consectetur purus sit amet fermentum.
        </div>
    </div>
</div>
