<div>
    <app-tabs [labels]="['Drivers']">
        <app-tab-item>
            <app-driver-filter
                (search)="onSearch($event)"
                (reset)="onReset()"></app-driver-filter>

            <app-driver-list [driverList]="filteredDriverList"></app-driver-list>
        </app-tab-item>
    </app-tabs>
</div>
