<div class="tabs is-centered">
    <ul>
        <li *ngFor="let label of labels; index as i" 
            [ngClass]="{'is-active': i === activeTabIndex}"
            (click)="onTabClick(i)"
        >
            <a>{{ label }}</a>
        </li>
    </ul>
</div>

<div>
    <div *ngFor="let child of children; index as i">
        <ng-container *ngIf="i === activeTabIndex">
            <ng-container *ngTemplateOutlet="child.body"></ng-container>
        </ng-container>
    </div>
</div>
