<div class="card my-2">
    <header class="card-header">
        <div class="card-header-title">
            {{ driver.firstName }} {{ driver.lastName | uppercase }}
        </div>
        <div class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fa-solid fa-id-card fa-lg"></i> 
            </span>
        </div>
    </header>
    
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <app-icon 
                        [iconName]="'fa-solid fa-truck'"
                        [iconTooltip]="'Test'">
                        <span>{{ driver.truckID }}</span>
                    </app-icon>

                    <app-icon 
                        [iconName]="'fa-solid fa-trailer'"
                        [iconTooltip]="'Test'">
                        <span>{{ driver.trailerID }}</span>
                    </app-icon>
                </div>

                <div class="column">
                    Activities
                </div>
            </div>            

            <app-accordion [heading]="'Truck status'"></app-accordion>
            <app-accordion [heading]="'Trips'"></app-accordion>
        </div>
    </div>
</div>
