<form class="my-4">
    <div class="field is-horizontal">
        <div class="select mr-2">
            <select>
                <option>Select Country</option>
            </select>
        </div>

        <div class="select mr-2">
            <select>
                <option>Select State</option>
            </select>
        </div>

        <div class="select mr-2">
            <select>
                <option>Select City</option>
            </select>
        </div>
    </div>

    <div class="buttons my-2">
        <button class="button is-outlined">Search</button>
        <button class="button is-outlined">Reset</button>
    </div>
</form>
